*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
}
body {
    width: 600px;
}

h1{
    color: lightgrey;
    margin: 5px;
    text-align: center;
    font-size: 4rem;
}
h2{
    color: dimgray;
    text-align: center;
    font-size: 16pt;
}
#connectSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}
.select-container {
  
}
.select-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0px;
}
select {
    position: relative;
    width: 45%;
    padding: 10px 10px;
    color: slategray;
    border: 1px dashed;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
}
.ready{
    color: white;
    background: lightgreen;
    font-weight: bolder;
    border-color: white;
}
.notReady{
    color: white;
    background: lightpink;
    font-weight: bolder;
    border-color: white;
}
#checkServicesBtn, #startConversationBtn{
    width: 60%;
    padding: 10px;
    color: skyblue;
    background: white;
    border: 1px dashed skyblue;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}
#checkServicesBtn:hover, #startConversationBtn:hover{
    color: white;
    background: skyblue;
}
#checkServicesBtn:active, #startConversationBtn:active{
    filter: invert(10%);
}

#setupBots{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}
#setupBots label{
    padding: 5px;
    font-size: 10pt;
    font-weight: 900;
}
#setupBots textarea, #setupBots input{
    width: 80%;
    padding: 15px;
    margin-bottom: 5px;
    border: 1px dashed gray;
    font-size: 10pt;
}